@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@100&display=swap');

:root {
    --main-bg-color: #6A6A6A;
    --second-bg-color: #5B656D;
    --main-text-color: #000;
    --second-text-color: #fff;
    --main-font-family: Monoton;
    --second-font-family:Montagu;
}


body {
    margin: 0;
    padding: 0;
    font-family: var(--second-font-family);
}

nav h1 {
    font-family: var(--main-font-family);
    font-size: 2em;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid var(--main-bg-color);
    
}

nav .onglets {
    margin-top: 3px;
    margin-bottom: 10px;
    
}

nav .onglets a {
    text-decoration: none;
    color: var(--main-text-color);
    margin-right: 10px;    
    padding-bottom: 5px;    
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("/images/background.jpg");
    background-size: cover;
    color: var(--main-text-color);
    padding: 40px;

}

header h1 {
    font-family: var(--main-font-family);
    font-size: 2em;
}

header h4 {
    margin-top: -20px;
    font-size: 1.5em;
    text-align: center;
    

}

header button {
    padding: 10px 20px;
    background-color: var(--second-text-color);
    color: var(--main-text-color);
    border: none;
    font-size: 1em;
    outline: none;
    font-family: var(--second-font-family);
    cursor: pointer;   

}

section.main {
    
    padding: 10px 10px 10px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: url('/images/background.jpg');
    background-size: cover;
    color: var(--main-text-color);
    padding: 40px; 

}

section.main img {
    margin-top: 1em;
    object-fit: cover;
    width: 60vh;
    height: 60vh;
    border-radius: 100%;
}



@media screen and (max-width:680px) {
    nav .onglets{
        margin-left: 0px;
        margin-bottom: 20px;
    }
    
}

