/* import de la police d'ecriture deja fait dans le html */
@import url();


/* s'applique a toute la page avec le signe asterix */
*{
    font-family: 'lora';
}

body{
    margin: 0 auto;
}
/* header */

header.header {
    display: flex;
    align-items: center;
    background-color: green;
}
/* taille du logo */
header.header img {
    width: 150px;
}
/* style pour le backgrounf de l entete */
section.toppage {
    background: url("../../images/background.jpg");
    background-size: cover;
    height: 80vh;
    padding: 25px;
}

/* landing page */

.grostitre {
    color: rgb(235, 16, 16);
    font-size: 80px;
    padding: 20px 50px;
    font-family: Open+Sans;
}



/* menu de navigation */

nav.nav {
    display: flex;
    justify-content: space-between; 
    list-style: none;
    background-color: yellow;
    width: 700px;
    margin-left: 30px;
}

nav.nav li{
    color: white;
}


