@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@100&display=swap');

:root {
    --font-size: 1.5rem;
    --main-bg-color: #FAF8D4;
    --second-bg-color: #EBDCCB;
    --third-bg-color: #C3BAAA;
    --wave-color: #3586FF;
    --main-text-color: #000;
    --second-text-color: #fff;
    --main-font-family: Monoton;
    --second-font-family:Montagu;

 /* card color */

    --b1cd: #500033;
    --b2cd: #000050;
    --b2cl: #0033ff;
    --b3cd: #00501d;
    --b3cl: #00ff44;
    --b4cd: #554d00;
    --b4cl: #ff4e00;
    --b5cd: #300050;
    --b5cl: #8000ff;
     /* main var  */

     --clr-primary: #fc307b;
     --clr-accent: #2c92ef;
     --fs-700: 3.5rem;
     --fs-400: 1.25rem;
  
}

.light-mode {
    --navbar-color: #222;
    --navbar-bg-color: #F0F0F0;  
  }
.dark-mode {
    --navbar-color: #FFF;
    --navbar-bg-color: #000;  
  }

/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

/* Base */
 
body {
    font-size: var(--font-size);
}

/* header for put in affiliate banner link */
header 
{
  padding-top: 25px;
  background-color: black;
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
}

/* logo svg with animation */
.glossy_logo {
  width: 300px;
  padding-top: 10px;
  stroke: var(--second-text-color);
  position: absolute;
  left: 20%;
  transform: translate(-50%, -50%);
  animation-name: animate;
  animation-duration: 0.8s;
  animation-direction: alternate;
  animation-iteration-count: infinite;

}

@keyframes animate {
  0% {
    filter: drop-shadow(0px 0px 1px #fff)
    drop-shadow(0px 0px 3px #fff)
    drop-shadow(0px 0px 10px #ff80b3)
    drop-shadow(0px 0px 30px #ff4d94)
    drop-shadow(0px opx 50px #ff0066);
  }
  100% {
    filter: drop-shadow(0px 0px 3px #fff)
    drop-shadow(0px 0px 6px #fff)
    drop-shadow(0px 0px 15px #ff80b3)
    drop-shadow(0px 0px 40px #ff4d94)
    drop-shadow(0px 0px 60px #ff0066);
  }
}

/* Navbar */
.navbar {
  width: 100%;
  height: 50px;  
  display:flex;
  align-items:center; 
  justify-content:space-between;   
  padding:10px;
  font-size:1.1rem;
  background:var(--navbar-bg-color);
  color:var(--navbar-color);
}
.navbar_links { 
  display: flex;
}

 
.navbar_link { 
  padding:0 10px;
}
.navbar_link > a { 
  color:var(--navbar-color);
  text-decoration:none;
}
.burger {
  display:none;
}

/*  Small device */
@media screen and (max-width:800px) {
  .navbar_links { 
    overflow:hidden;
    display:flex;
    flex-direction:column;
    width:0;
    height:calc(100vh - 65px);  
    position:absolute;
    top:65px;
    right:0;     
    background:var(--navbar-bg-color);     
    transform: translateX(110%);
    transition: all .5s ease-in-out;
  }

  .show-nav .navbar_links { 
    
    width:100%;    
    transform: translateX(0);
  } 
  .navbar_link {    
    transform: translateX(101%);
    transition: all .5s ease-in-out;
  }
  
  .show-nav .navbar_link  {        
    transform: translateX(0);    
  }  
  
  
  .navbar_link > a {
    display:block;
    padding:1rem;
    font-size:1.6rem;
    color:var(--navbar-color);  
    transition: all .4s ease-in-out;
  }
  
  .navbar_link > a:hover {
    padding-left:2rem;
    letter-spacing:5px;
  }
  .glossy_logo {
    width: 150px;
    stroke: var(--second-text-color);
    position: absolute;
    padding-left: 1.5em;
    margin-left: 0.2em;
    left: 35%;
    transform: translate(-50%, -50%);
    animation-name: animate;
    animation-duration: 0.8s;
    animation-direction: alternate;
    animation-iteration-count: infinite;    
  }



  /* Toggle menu */
  .burger {
    display:block;
    position:relative;
    padding:0;
    width:45px;
    height:45px;
    border:none;
    background:transparent;
    cursor:pointer;
    
  }
  .bar {
    display:block;    
    width:45px;
    height:4px;  
    border-radius:3px;
    background:var(--navbar-color); 
    transition: all .5s ease-in-out;   
  }
  .bar::before, .bar::after {
    content:"";
    width:45px;
    height:4px;
    position:absolute; 
    left:0;  
    background:var(--navbar-color); 
    border-radius:3px;    
    transition: all .5s ease-in-out;
  }
  .bar::before {
    transform:translateY(-12px)
  }
  .bar::after {
    transform:translateY(12px)
  }
  .show-nav .bar {
    width:0;
    background:transparent;    
  }
  .show-nav .bar::before {
    transform:rotate(45deg);
  }
  .show-nav .bar::after {
    transform:rotate(-45deg);
  }
  
  /* Animations */
  .show-nav .first {      
    transition: all 1s ease-out;
  } 
  .show-nav .second {      
    transition: all 1.1s ease-out;
  } 
  .show-nav .third {      
    transition: all 1.2s ease-out;
  } 
  .show-nav .four {      
    transition: all 1.3s ease-out;
  } 
  .show-nav .fifth {      
    transition: all 1.4s ease-out;
  }
}

@media screen and (min-width:768px) {
  .navbar__link > a::after {
    display:block;
    content:"";
    width:0;
    height:1px;
    background:var(--navbar-color);
    transition:width .4s;
  }
  .navbar__link:hover > a::after {
    width:100%;
  }
}



/* Main */

/* Make images easier to work with image */
img,
picture {
  max-width: 100%;
  display: block;
}

.main {
  background: rgb(2,0,36);
  background: linear-gradient(282deg, rgba(2,0,36,1) 0%, rgba(163,26,144,1) 35%, rgba(0,212,255,1) 100%);
  font-size: var(--fs-400);
  color: white;
  padding: 20vw 0;
  font-family: sans-serif;
  overflow-x: hidden;
}

.uppercase {
  text-transform: uppercase;
}

.text-primary {
  color: var(--clr-primary);
}

.text-accent {
  color: var(--clr-secondary);
}

.fs-700 {
  font-size: var(--fs-700);
  line-height: 1;
}

.feature-grid-text p
{
  margin-top: 10px;
}

.bg-primary {
  background-color: var(--clr-primary);
}

.bg-accent {
  background-color: var(--clr-accent);
}

.container {
  padding: 0rem 1rem;
  max-width: 80rem;
  margin: 0 auto;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.grid--columns {
  grid-column: 1fr;
  grid-auto-flow: column;
}

/* featured grid */

.feature-grid-container {
  perspective: 100rem;
  position: relative;
}



.feature-grid {
  position: relative;
  z-index: -1;
  left: min(calc(1000px - 100vw) * -1, 0px);
  width: 55rem;
  align-self: center;
  grid-template-columns: repeat(3, 1fr);
  transform-origin: left;
  transform: rotateY(-40deg);
}

.feature-grid > a {
  border-radius: 0.75em;
  transition: transform 350ms ease-in-out;
  overflow: hidden;
}

.feature-grid > a:hover,
.feature-grid > a:focus-visible {
  transform: scale(1.1);
  box-shadow: 0 0 1.5rem hsl(0 0% 100% / 0.8);
}


/* small device main */
@media screen and (max-width:1300px) {
  body { 
    display: flex;
    flex-direction: column;
  }


/* Footer */

footer {
    position: relative;
    width: 100%;
    background: var(--wave-color);
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

footer .social_icon,
footer .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 ;
    flex-wrap: wrap;

}

footer .social_icon li,
footer .menu li {
    list-style-type: none;
}
footer .social_icon li a {
    font-size: 2em;
    color: var(--second-text-color);
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .menu li a {
    font-size: 1.2em;
    color: var(--second-text-color);
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}

footer .menu li a:hover {
    opacity: 1;

}

footer .social_icon li a:hover {
    transform: translateY(-10px);
}

footer p {
    color: var(--main-text-color);
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

footer .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(/images/wave.png);
    background-size: 1000px 100px;
}

     /* waves and animation */

footer .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave_02 4s linear infinite ;  
}
footer .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 0px;
    animation: animateWave 4s linear infinite ;
}
footer .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite ;

}
footer .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite ;

}

@keyframes animateWave 
{
    0%
    {
        background-position-x: 1000px;
    }
    100%
    {
        background-position-x: 0px;
    }
}

@keyframes animateWave_02 
{
    0%
    {
        background-position-x: 0px;
    }
    100%
    {
        background-position-x: 1000px;
    }
}

/* style form contact me */

    #fs-frm input,
    #fs-frm select,
    #fs-frm textarea,
    #fs-frm fieldset,
    #fs-frm optgroup,
    #fs-frm label,
    #fs-frm #card-element:disabled {
      font-family: inherit;
      font-size: 100%;
      color: inherit;
      border: none;
      border-radius: 0;
      display: block;
      width: 80%;
      padding: 0;
      margin-left: 2.5rem;
      -webkit-appearance: none;
      -moz-appearance: none;
    }
    #fs-frm label,
    #fs-frm legend,
    #fs-frm ::placeholder {
      font-size: .825rem;
      margin-bottom: .5rem;
      padding-top: .2rem;
      display: flex;
      align-items: baseline;
    }
    
    /* border, padding, margin, width */

    #fs-frm input,
    #fs-frm select,
    #fs-frm textarea,
    #fs-frm #card-element {
      border: 1px solid var(--navbar-color);
      border-radius: 5px;
      background-color: black;
      padding: .75em 1rem;
      margin-bottom: 1.5rem;
    }
    #fs-frm input:focus,
    #fs-frm select:focus,
    #fs-frm textarea:focus {
      background-color: black;
      outline-style: solid;
      outline-width: thin;
      outline-color: black;
      outline-offset: -1px;
    }
    #fs-frm [type="text"],
    #fs-frm [type="email"] {
      width: 80%;
    }
  
    #fs-frm [type="submit"]
    {
      width: auto;
      cursor: pointer;
      -webkit-appearance: button;
      -moz-appearance: button;
      appearance: button;
      margin-left: 5rem ;
    }


    

    
    /* address, locale */

    #fs-frm fieldset.locale input[name="city"],
    #fs-frm fieldset.locale select[name="state"],
    #fs-frm fieldset.locale input[name="postal-code"] {
      display: inline;
    }
    #fs-frm fieldset.locale input[name="city"] {
      width: 52%;
    }
    #fs-frm fieldset.locale select[name="state"],
    #fs-frm fieldset.locale input[name="postal-code"] {
      width: 20%;
    }
    #fs-frm fieldset.locale input[name="city"],
    #fs-frm fieldset.locale select[name="state"] {
      margin-right: 3%;
    }
